html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
}

/* Colors */
:root {
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-400: #9ca3af;
}

/* Typography */
.title {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.25;
	margin-top: 8px;
	margin-bottom: 8px;
}

.subtitle1 {
	font-weight: bold;
	font-size: 16px;
}

.body1 {
	font-size: 16px;
}

.subtitle2 {
	font-weight: bold;
	font-size: 14px;
}

.body2 {
	font-size: 14px;
}

.overline {
	font-size: 12px;
}

/* Main & body */
body#body {
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#body {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow: hidden;
}

#body-container {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

main#main {
	padding: 86px;
	flex-grow: 1;
	overflow-y: auto;
	padding-bottom: 0px;
}

/* Playlist infos */
#playlist-info {
	display: flex;
	align-items: flex-end;
	margin-bottom: 48px;
}

#playlist-info-container {
	display: flex;
	flex-direction: column;
}

#playlist-image {
	width: 250px;
	height: 250px;
	margin-right: 32px;
}

/* Songs list */
#songs-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-left: 16px;
}

#songs-list li {
	margin-bottom: 32px;
}

#songs-list li:hover {
	background-color: var(--gray-100);
}

/* Bottom aside */
#player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	border-top: 1px solid var(--gray-200);
}

#player > .content {
	display: flex;
	align-items: center;
}

/* Current song */
#left-content {
	display: flex;
	height: 100%;
}

#current-song-image {
	height: 100%;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
}

/* Song controller */
#controller {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

/* Deezer image */
#right-content {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

#sponsor {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 16px;
}

#sponsor > img {
	height: 30px;
}

/* Songs queue */
#queue {
	background-color: var(--gray-100);
	border-left: 1px solid var(--gray-200);
	position: relative;
	width: 330px;
	padding: 32px;
}

#empty-status {
	color: var(--gray-400);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
